<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" routerLink="/painelPrincipal" routerLinkActive="active">Poder do Hábito</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link"  aria-current="page" >Marcação</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/painelPrincipal/grupos" routerLinkActive="active">Grupos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Usuários</a>
            </li>
          </ul>
          <h6 class="text-light text-center">Seja bem-vindo, {{user.name}}</h6>
          <h6 class="ms-4 text-center"><i class="bi bi-box-arrow-in-right text-light"></i></h6>
          
        </div>
      </div>
    </nav>
  </header>
